<div class="container">
  <div class="container__logo">Logo</div>
  <div class="container__menu">
    <!-- Keep only the navigation-related elements -->
    <a (click)="toggleLoginSignupForm()">Signin</a>
    <a (click)="navigateToHome()">Home</a>
    <a (click)="toggleAboutForm()">About</a>
    <a (click)="toggleContactForm()">Contact</a>
  </div>
  <span class="menubtn"><i class="fa-solid fa-bars"></i></span>
  <span class="closebtn"><i class="fa-solid fa-xmark"></i></span>
</div>
